// h1 {
//     background: red;
// }

.chien {
    background-color: rgb(56, 45, 45);
    color: white;
    font-size: 16px;
    /* và các thuộc tính CSS khác */
}
// .my-button {
//     background-color: #0077be;
//     /* Mã màu xanh nước biển */
//     color: #fff;
//     font-size: 16px;
//     /* và các thuộc tính CSS khác */
// }
